.jumbotron {
  background-color: #9b34eb;
  color: antiquewhite;
  margin-top: 16px;
  margin-bottom: 16px; }

footer {
  background-color: #9b34eb;
  padding: 10px 10px 0px 10px;
  color: antiquewhite;
  margin-top: 8px;
  margin-bottom: 16px; }

footer a {
  color: antiquewhite; }

footer a:hover {
  color: white; }

.card-publicacion {
  flex: 1 250px;
  margin-top: 8px;
  margin-left: 4px; }

.btn-leer {
  width: 30%;
  max-width: 80px;
  border-radius: 0px;
  margin-left: 35%;
  background-color: aquamarine; }

.footer-address-icon {
  padding-right: 8px; }
