$blueviolet: #9b34eb;

@mixin margenes($top,$bottom: 16px) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color:$blueviolet;
    color: antiquewhite;
    @include margenes(16px)
}

footer{
    background-color: $blueviolet;
    padding: 10px 10px 0px 10px;
    color: antiquewhite;
    @include margenes(8px)
}
footer a{
    color: antiquewhite;
}
footer a:hover{
    color:white;
}

.card-publicacion{
    flex: 1 250px;
    margin-top: 8px;
    margin-left: 4px;
}

.btn-leer{
    width: 30%;
    max-width: 80px;
    border-radius: 0px;
    margin-left: 35%;
    
    background-color: aquamarine;    
}

.footer-address-icon{
    padding-right: 8px;
}